{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">สร้างบัญชีผู้ใช้</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">ชื่อผู้ใช้:</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="password">รหัสผ่าน:</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label for="repassword">ยืนยันรหัสผ่าน:</label>
            <input type="password" class="form-control" name="repassword">
        </div>
        <button type="submit" class="btn btn-primary my-2">สร้างบัญชี</button>
    </form>
{% endblock %}